*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: sans-serif;
    background-color: #f7f7f7;
}
header{
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    background-color: yellow;
    position: relative;
    
}
.logo{
    float: left;
}
nav{
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
}
.toggle-btn{
    width: 35px;
    position: absolute;
    right: 80px; 
    top: 40px;
    display: none;
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    float: left;
    margin-bottom: 8px;
}



@media (max-width: 991px){
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid black;
        padding-top: 20px;
        margin-top: 30px;
    }
    nav ul li{
        padding: 15px 0px;
        width: 100%;
    }
    nav.show{
        display: block;
    }

}